﻿@using HDB.Web.Services.Interfaces
@model HDB.Web.Models.Data.Person

@inject IHomeService HomeService

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">

    </h4>
</div>
<div class="modal-body">

    <form id="person-edit-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PIN" class="control-label"></label>
            <input asp-for="PIN" class="form-control"/>
            <span asp-validation-for="PIN" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Firstname" class="control-label"></label>
            <input asp-for="Firstname" class="form-control"/>
            <span asp-validation-for="Firstname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Lastname" class="control-label"></label>
            <input asp-for="Lastname" class="form-control"/>
            <span asp-validation-for="Lastname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth" class="control-label"></label>
            <input asp-for="DateOfBirth" class="form-control"/>
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Mobile" class="control-label"></label>
            <input asp-for="Mobile" class="form-control"/>
            <span asp-validation-for="Mobile" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Profession" class="control-label"></label>
            <select asp-for="ProfessionId" asp-items="HomeService.GetProfessionsSelectList()" class="form-control">
                <option></option>
            </select>
            <span asp-validation-for="ProfessionId" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="Id"/>
    </form>

</div>
<div class="modal-footer">
    <button type="button" id="save-button" class="btn btn-primary">Save</button>
</div>


<script>
    $(() => {

    });
</script>