﻿@model IEnumerable<HDB.Web.Models.Data.Person>

@{
    ViewData["Title"] = "Index";
}

<p style="margin: 4vh 0">
    <a asp-action="Create" class="btn btn-primary">Create New</a>

    <a id="delete-duplicates" class="btn btn-primary">Delete Duplicates</a>

</p>
<table class="table" id="people-table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profession)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CancellationDate)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>


<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section Styles{
    <link rel="stylesheet" href="~/lib/datatables/media/css/dataTables.bootstrap.min.css"/>

}

@section Scripts
{
    <script src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/media/js/dataTables.bootstrap.min.js"></script>
}